<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LAO PHP</a> 
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav "> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/manufactures">Manufactures</a> 
                </li> 
            </ul> 
        </div>
    </div>

    <div>
        <ul class="navbar-nav">  
            <li class="nav-item ">
                <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/register">Register</a> 
            </li> 
            
            <li class="nav-item ">
                <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login">Login</a> 
            </li> 
            <li class="nav-item ">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/profile">Profile ({{username}}) </a> 
            </li> 
            <li class="nav-item ">
                <a *ngIf="isLoggedIn" class="nav-link" (click)="onLogout()">Logout</a> 
            </li> 
        </ul>
    </div>
</nav>
 


<!-- 
<button type="button" class="btn btn-primary" (click)="onClickHome()" routerLink="/" >Home</button>

<button type="button" class="btn btn-primary"  routerLink="/manufactures" >Manufactures</button>

<button (click)="onClickNewManufacture()">Add Manufacture</button>

<button type="button" class ="btn btn-primary" routerLink="/register">Register</button>

<button type="button" class="btn btn-primary" routerLink="/login">Login</button> -->


 
