
<div class="container-fluid"> 
    <div class="row">
        <div class="col-sm-12"> 
                <div class="card" >
                    <div class="card-body">
                    <h5 class="card-title"> Learning from Doing </h5>
                    <p class="card-text">The purpose of this application is to present history of Motorbike Manufactures, and recent products of the Company. 


                    </p>
                    
                    </div>
                </div> 
             
        </div> 
    </div> 
</div>
  

